RewriteEngine on

RewriteRule ^/filestorage/ /inc/file.inc.php$1 [L]
RewriteRule !^/iPSo/ - [C]
RewriteRule !^/css/ - [C]
RewriteRule !^/data/ - [C]
RewriteRule !^/inc/ - [C]
RewriteRule !^/dbadmin - [C]
RewriteRule !^/js/ - [C]
RewriteRule !^/login/ - [C]
RewriteRule !^/favicon.ico - [C]
RewriteRule !^/robots.txt - [C]
RewriteRule !^/404.html - [C]
RewriteRule !^/sitemap.php - [C]
RewriteRule !^/AJAX/ - [C]
RewriteRule !^/dbadmin2/ - [C]
RewriteRule !^/jsKalender/ - [C]
RewriteRule !^/restricted/ - [C]

RewriteRule (.*) /index.php$1
